@{
    ViewBag.Title = "Home Page";
}




<div class="mytest">
    <p id="changeTxtTest">将会改变的值</p>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js">  </script>
<script type="text/javascript">
    var usercode = "213"; // 设置一个 代号，测试；
    $.ajax({
        url: "/Home/GetPeople?usercode=" + usercode,//必填
        type: "post",
        date: { "usercode": usercode },
        dateType: "json",
        success: function (dateList) {

            console.log("返回的列表",dateList);

            var t_String = "名字列表：";
            $.each(dateList, function (i, item) {  // i表示第几行，，， item 实际的value

                t_String += item.PeopleName; // 此处与 类 的属性名一致，才能json找到 key值
            })

            console.log("拼接好的字符串", t_String);

            // jqurry选择器，改变DOM的显示
            $("p#changeTxtTest").text(t_String);
        }
    });
    
</script>






<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>